# true = ใช้ Mock โดยไม่ต้องมี Backend/Google Client ID
VITE_USE_MOCK_AUTH=false

# ใช้เมื่อ VITE_USE_MOCK_AUTH=false
VITE_API_BASE_URL=https://pc-finder-frontend-2.vercel.app
VITE_GOOGLE_CLIENT_ID=11023723698-j01jtpar4vpeleb5lc91g3astl39hsgj.apps.googleusercontent.com

# ใช้สำหรับทดสอบ Mock เท่านั้น: USER | SHOP | ADMIN
VITE_MOCK_ROLE=SHOP
